.v-toolbar.v-toolbar--dense > .v-toolbar__content {
  height: 48px;
}
.v-toolbar.v-toolbar--extended > .v-toolbar__content,
.v-toolbar__extension {
  height: 64px;
}
.v-toolbar > .v-toolbar__content {
  height: 58px;
}
.v-toolbar__extension.v-toolbar--tabs {
  height: 48px;
}

.v-toolbar.v-toolbar--dense + .v-navigation-drawer--clipped {
  margin-top: 48px;
}
.v-toolbar.v-toolbar--extended + .v-navigation-drawer--clipped {
  margin-top: 64px;
}
.v-toolbar + .v-navigation-drawer--clipped {
  margin-top: 58px;
}

#app-toolbar.v-toolbar.v-toolbar--dense ~ .v-content {
  margin-top: 48px;
}
#app-toolbar.v-toolbar.v-toolbar--extended ~ .v-content {
  margin-top: 64px;
}
#app-toolbar.v-toolbar ~ .v-content {
  margin-top: 58px;
}